<div class="steps">
   <div class="container steps__container">
      <ul class='steps__list'>
         <li class="steps__item @@if (number === '1') {steps__item-active}">
            <div class="steps__number">1</div>
            <span class='steps__text'>Корзина</span>
            <img src="img/icons/icons.svg#arrow-right" alt="arrow" class='steps__arrow'>
         </li>
         <li class="steps__item @@if (number === '2') {steps__item-active}">
            <div class="steps__number">2</div>
            <span class='steps__text'>Оформление заказа</span>
            <img src="img/icons/icons.svg#arrow-right" alt="arrow" class='steps__arrow'>
         </li>
         <li class="steps__item @@if (number === '3') {steps__item-active}">
            <div class="steps__number">3</div>
            <span class='steps__text'>Оплата</span>
            <img src="img/icons/icons.svg#arrow-right" alt="arrow" class='steps__arrow'>
         </li>
         <li class="steps__item @@if (number === '4') {steps__item-active}">
            <div class="steps__number">4</div>
            <span class='steps__text'>Обзор</span>
            <img src="img/icons/icons.svg#arrow-right" alt="arrow" class='steps__arrow'>
         </li>
      </ul>
   </div>
</div>