.ml-5 {
	margin-left: 5px;
}

.mr-5 {
	margin-right: 5px;
}

.mb-5 {
	margin-bottom: 5px;
}

.mt-5 {
	margin-top: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.mr-10 {
	margin-right: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.ml-15 {
	margin-left: 15px;
}

.mr-15 {
	margin-right: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-15 {
	margin-top: 15px;
}

.ml-20 {
	margin-left: 20px;
}

.mr-20 {
	margin-right: 20px;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mt-20 {
	margin-top: 20px;
}

.ml-25 {
	margin-left: 25px;
}

.mr-25 {
	margin-right: 25px;
}

.mb-25 {
	margin-bottom: 25px !important;
}

.mt-25 {
	margin-top: 25px;
}

.ml-30 {
	margin-left: 30px;
}

.mr-30 {
	margin-right: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-30 {
	margin-top: 30px;
}

.ml-35 {
	margin-left: 35px;
}

.mr-35 {
	margin-right: 35px;
}

.mb-35 {
	margin-bottom: 35px;
}

.mt-35 {
	margin-top: 35px;
}

.ml-40 {
	margin-left: 40px;
}

.mr-40 {
	margin-right: 40px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-40 {
	margin-top: 40px;
}

.ml-45 {
	margin-left: 45px;
}

.mr-45 {
	margin-right: 45px;
}

.mb-45 {
	margin-bottom: 45px;
}

.mt-45 {
	margin-top: 45px;
}

.ml-50 {
	margin-left: 50px;
}

.mr-50 {
	margin-right: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mt-50 {
	margin-top: 50px;
}

.ml-100 {
	margin-left: 100px;
}

.mr-100 {
	margin-right: 100px;
}

.mb-100 {
	margin-bottom: 100px;
}

.mt-100 {
	margin-top: 100px;
}

.fz-10 {
	font-size: 10px;
}

.fz-12 {
	font-size: 12px;
}

.fz-14 {
	font-size: 14px;
}

.fz-16 {
	font-size: 16px;
}

.fz-18 {
	font-size: 18px;
}

.fz-20 {
	font-size: 20px;
}

.fz-22 {
	font-size: 24px;
}

.fz-24 {
	font-size: 24px;
}

.fw-100 {
	font-weight: 100;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

.fs-italic {
	font-style: italic;
}

.fs-italic {
	font-style: normal;
}

.d-f {
	display: flex;
}

.jc-sp {
	justify-content: space-between;
}

.jc-cen {
	justify-content: center;
}

.jc-sa {
	justify-content: space-around;
}

.jc-end {
	justify-content: flex-end;
}

.ai-cen {
	align-items: center;
}

.ai-start {
	align-items: flex-start;
}

.ai-end {
	align-items: flex-end;
}

.flex-direction-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.h-100 {
	height: 100%;
}

.w-100 {
	width: 100%;
}

.text-align-cen {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}

.cursor-pointer {
	cursor: pointer;
}

.field {
	position: relative;
	grid-column: span 4;
	&-small {
		grid-column: span 3;
	}
	&-big {
		display: flex;
		flex-direction: column;
		height: 100%;
		grid-column: span 3;
		grid-row: span 2;
		& input {
			height: 100%;
		}
	}
	&__name {
		padding-left: 14px;
		font-weight: 400;
		font-size: 14px;
		line-height: 16px;
		color: #cdd0d9;
		display: block;
		margin-bottom: 5px;
	}
	&__input,
	&__select,
	&__inner-field,
	&__area {
		display: block;
		font-size: 18px;
		line-height: 21px;
		color: $grafit;
		padding: 12px;
		width: 100%;
		background: $white;
		border: 1px solid $white;
		border-radius: 8px;
	}
	&__check {
		cursor: pointer;
		display: flex;
		height: 100%;
		align-items: center;
		background: $white;
		border-radius: 15px;
		padding: 18px 30px;
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: $grafit;
		&_mailing {
			padding: 0;
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: $white;
			background: none;
		}
	}
	&__fake {
		display: block;
		overflow: hidden;
		opacity: 0;
		width: 1px;
		height: 1px;
		position: absolute;
	}
	&__checkbox {
		position: relative;
		width: 26px;
		height: 26px;
		filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.5));
		border: 3px solid $grafit;
		border-radius: 50%;
		background: $white;
		transition: 0.3s;
		margin-right: 4px;
		&::after {
			content: "";
			opacity: 0;
			display: block;
			transition: 0.3s;
			position: absolute;
			background: #ddbb64;
			width: 11px;
			height: 11px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 50%;
		}
		&_mailing {
			margin-right: 10px;
			background: none;
			border-radius: 6px;
			border: 1px solid $gold;
			width: 16px;
			height: 16px;
			&::after {
				content: "";
				opacity: 0;
				display: block;
				transition: 0.3s;
				position: absolute;
				width: inherit;
				height: inherit;
				background: url("../../img/data/agree.png");
				background-size: cover;
			}
		}
	}
	&__fake:checked + &__checkbox {
		background: $grafit;
		&::after {
			opacity: 1;
		}
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__inner-field {
		text-align: center;
		max-width: 95px;
	}
	&__area {
		flex-basis: 100%;
		resize: none;
	}
	&__text {
		display: block;
	}
	&__agree-text {
		position: relative;
		font-size: 14px;
		line-height: 16px;
		color: #cdd0d9;
		&::after {
			content: "";
			height: 1px;
			width: 100%;
			position: absolute;
			background: $gold;
			left: 0;
			bottom: -1px;
		}
	}
	&__subtext {
		font-family: "Montserrat";
		font-size: 12px;
		line-height: 15px;
	}
	&-item {
		min-width: 490px;
	}
}
.button-back {
	display: flex;
	align-items: center;
	font-size: 16px;
	line-height: 19px;
	color: $grafit;
	filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.5));
	border-radius: 8px;
	overflow: hidden;
	padding: 22px 40px;
	background: url("../../img/button-back/background.jpeg");
	background-size: cover;
	&__arrow {
		margin-right: 42px;
	}
}
