body {
  overflow-x: hidden;
  position: relative;
  // color: $white;
  // background: $black;
  background: #42403d;
  // background-image: url('/src/img/bg-vol.jpg');
  background-image: url(../../img/bg.png);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  min-width: 320px;
  &.stop-scroll{
    overflow: hidden;
    width: 100%;
    .main{
      pointer-events: none;
      filter: blur(5px);
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 35px;
  margin: 0 auto;
}

.main{
  margin-left: 275px;
  margin-top: 114.39px;
  @media screen and (max-width: 1200px){
    margin-left: 0;
    margin-top: 62.08px;
  }
  @media screen and (max-width: 480px){
    margin-top: 60px;
  }
}