body {
  overflow-x: hidden;
  position: relative;
  // color: $white;
  // background: $black;
  background: #42403d;
  // background-image: url('/src/img/bg-vol.jpg');

  font-family: Montserrat, sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 35px;
  margin: 0 auto;
}
