// colors
$white: #f6f6f6;
$grafit: #42403d;
$gold: #ddbb64;
$white2: #eee;
$white3: #fafafa;
$black: #000;
$black2: #131313;
$black3: #242424;
$purple: #531fb5;
$yellow2: #fdd307;

$blue: #2d4068;
$blue2: #3d68c2;
$gray: #d9d9d9;
$gray2: #888888;
$orange: #ff9501;
$red: #ad0e29;
$yellow: #fdd700;

// media
$media_xxxl: "max-width: 1400px";
$media_xxl: "max-width: 1300px";
$media_xl: "max-width: 1200px";
$media_lg: "max-width: 1100px";
$media_lg2: "max-width: 1000px";
$media_lg3: "max-width: 900px";
$media_md: "max-width: 800px";
$media_md2: "max-width: 700px";
$media_sm: "max-width: 600px";
$media_sm2: "max-width: 500px";
$media_xs: "max-width: 400px";
