.banner{
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 467px;
    height: 4px;
    background-image: url('../../img/banner/banner-line.jpg');
  }
  &::before{
    right: 17px;
    top: 18px;
  }
  &::after{
    bottom: 18px;
    left: 17px;
  }
  &.top-banner{
    padding: 0;
    &::before,
    &::after{
      display: none;
    }
  }
  .swiper-slide{
    width: 100%;
    height: 100%;
    a{
      width: 100%;
      height: 100%;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .swiper-button-prev,
  .swiper-button-next{
    width: 100px;
    height: 100%;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
    span{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(179.45deg, rgba(221, 187, 100, 0.4) -36.91%, rgba(221, 187, 100, 0.1) 71.34%);
backdrop-filter: blur(7.5px);
      z-index: -1;
    }
    &:hover{
      img{
        opacity: 0.6;
      }
    }
    &::after{
      display: none;
    }
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-pagination{
    bottom: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
  }
  .swiper-pagination-bullet{
    width: 50px;
    height: 2px;
    background-color: $gray3;
    margin: 0 15px !important;
    &::after{
      display: none;
    }
    &.swiper-pagination-bullet-active{
      background-color: $white4;
    }
  }
}