.congratulation {
	margin-bottom: 30px;
	color: $white;
	&__container {
		position: relative;
	}
	&__back {
		position: absolute;
		top: 18px;
		right: 0px;
	}
	&__col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__success {
		display: flex;
		align-items: center;
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 36px;
		margin-bottom: 60px;
	}
	&__check {
		margin-right: 30px;
	}
	&__info {
		max-width: 885px;
		text-align: center;
	}
	&__title {
		font-family: "Montserrat";
		background-image: url("../../img/congratulation/background.jpeg");
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: 600;
		font-size: 36px;
		line-height: 44px;
	}
	&__text {
		font-size: 32px;
		font-weight: 600;
		text-shadow: 7px 7px 4px #000000;
	}
	&__line {
		max-width: 100%;
		margin: 18px 0;
		&:nth-of-type(2) {
			margin: 30px 0;
		}
	}
	@media ($media_lg3) {
		&__back {
			display: none;
		}
		&__text {
			font-size: 26px;
		}
		&__success {
			font-size: 32px;
			margin-bottom: 50px;
		}
		&__line {
			margin: 16px 0;
			&:nth-of-type(2) {
				margin: 25px 0;
			}
		}
	}
	@media ($media_md2) {
		&__check {
			width: 80px;
			height: 80px;
		}
		&__title {
			font-size: 28px;
		}
		&__text {
			font-size: 22px;
		}
	}
	@media ($media_sm2) {
		&__check {
			width: 60px;
			height: 60px;
			margin-right: 25px;
		}
		&__title {
			font-size: 26px;
		}
		&__text {
			font-size: 18px;
		}
		&__success {
			font-size: 26px;
			margin-bottom: 35px;
		}
	}
}
