.footer-about{
  padding-top: 30px;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 43px;
    background-color: $black4;
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
  }
  &__top-phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    span{
      color: $gold;
      line-height: 22px;
      margin-top: -4px;
    }
  }
  &__phone-link{
    color: $gray3;
    font-size: 24px;
    line-height: 32px;
  }
  &__form{
    max-width: 492px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__input{
    width: 100%;
    background-color: $white4;
    border: 1px solid $gray3;
    border-radius: 8px 0px 0px 8px;
    line-height: 22px;
    padding: 16px 15px;
    &::placeholder{
      color: $gray3;
    }
  }
  &__btn{
    font-weight: 500;
    line-height: 20px;
    color: $white4;
    background-color: $gold;
    border-radius: 0 8px 8px 0;
    padding: 17px 5px;
    margin: 0;
    border: 1px solid $gold;
  }
  &__top-descr{
    text-align: center;
    color: $gray3;
    font-size: 20px;
    line-height: 27px;
  }
  &__bottom{
    padding: 60px 80px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
  }
  &__payments-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: $white4;
  }
  &__payments-list{
    display: flex;
    align-items: center;
  }
  &__payments-item:not(:last-child){
    margin-right: 10px;
  }
  &__socials-title{
    font-weight: 600;
    max-width: 275px;
    font-size: 36px;
    line-height: 44px;
    color: $white4;
    margin-bottom: 14px;
  }
  &__socials-list{
    display: flex;
    align-items: center;
  }
  &__socials-item{
    width: 50px;
    height: 50px;
    background-image: url('../img/footer-socials/item-bg.png');
    border-radius: 8px;
    &:not(:last-child){
      margin-right: 30px;
    }
  }
  &__socials-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1400px){
  .footer-about{
    &__top{
      padding: 16px 20px;
    }
    &__top-phone{
      flex-shrink: 0;
      margin-right: 16px;
    }
    &__top-descr{
      font-size: 16px;
      line-height: 20px;
    }
    &__form{
      max-width: 440px;
    }
    &__input{
      padding: 12px;
    }
    &__btn{
      padding: 13px 5px;
    }
  }
}

@media screen and (max-width: 1024px){
  .footer-about{
    &__top{
      flex-direction: column;
    }
    &__form{
      margin: 16px 0;
    }
    &__bottom{
      padding: 30px 40px;
    }
    &__payments-title{
      font-size: 32px;
      line-height: 40px;
    }
    &__socials-title{
      font-size: 32px;
      line-height: 40px;
    }
    &__socials-item:not(:last-child){
      margin-right: 16px;
    }
  }
}

@media screen and (max-width: 768px){
  .footer-about{
    &__bottom{
      padding: 30px 16px;
    }
    &__bottom-inner{
      flex-direction: column;
      align-items: center;
    }
    &__payments{
      margin-bottom: 24px;
    }
    &__payments-list{
      justify-content: center;
    }
    &__socials-title{
      max-width: 100%;
    }
    &__socials-list{
      justify-content: center;
    }
  }
}

@media screen and (max-width: 480px){
  .footer-about{
    &__payments-title{
      font-size: 24px;
      line-height: 32px;
    }
    &__socials-title{
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 8px;
    }
    &__socials-item{
      width: 40px;
      height: 40px;
      &:not(:last-child){
        margin-right: 12px;
      }
    }
    &__socials-link{
      img{
        transform: scale(0.9);
      }
    }
  }
}