.background {
  background-image: url('../../img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  //   z-index: -10;

  .step {
    border-bottom: none;
  }
}

.title {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #fff;
}

.callback {
  position: relative;
}

.callback-order {
  position: absolute;
  right: 36px;
  top: 780px;
}

.order {
  max-width: 1110px;
  margin: 0 auto 30px;
  border-bottom: 1px solid $gold;

  &__done {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    img {
      margin-right: 30px;
    }
  }

  .btn {
    position: absolute;
    right: 200px;
  }

  .button-catalog {
    padding: 23px 45px 23px 91px;
    background: $gold;
    // background: url(1653084064_2-celes-club-p-zerkalnoe-zoloto-fon-krasivie-2.jpg);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 8px;
    color: #42403d;

    position: relative;
  }

  .button-catalog::after {
    position: absolute;
    content: '';
    background-image: url('../../img/arrow-left.svg');
    width: 12px;
    height: 22px;
    top: 21px;
    left: 39px;
  }

  &__text {
    max-width: 884px;
    margin: 60px auto 0;
    display: block;
    text-align: center;
    padding-bottom: 30px;
    // border-bottom: 1px solid $gold;
  }

  &__text-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: $gold;
    text-shadow: 7px 7px 4px #000000;
  }

  &__line-up {
    margin: 30px auto;
    position: relative;
    max-width: 260px;
  }

  &__line-down {
    margin: 42px auto;
    position: relative;
    max-width: 770px;
  }

  &__line-up::after,
  &__line-up::before {
    position: absolute;
    content: '';
    width: 206px;
    height: 1px;
    top: 12px;
  }
  &__line-up::after {
    background-image: url('../../img/line/sm-line.png');
    transform: rotate(180deg);
    right: -102px;
  }
  &__line-up::before {
    background-image: url('../../img/line/sm-line.png');
    left: -102px;
  }

  &__line-down::after,
  &__line-down::before {
    position: absolute;
    content: '';
    width: 360px;
    height: 1px;
    top: 12px;
  }

  &__line-down::after {
    background-image: url('../../img/line/big-line.png');
    transform: rotate(180deg);
    right: 0;
  }
  &__line-down::before {
    background-image: url('../../img/line/big-line.png');
    left: 0;
  }

  &__text-desc,
  &__text-description {
    color: #f6f6f6;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    text-align: center;
    text-shadow: 7px 7px 4px #000000;
  }
}

.details {
  max-width: 1110px;
  margin: 0 auto;

  &__title {
    text-align: center;
    margin-bottom: 48px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    display: flex;
    margin-bottom: 30px;

    img {
      margin-right: 15px;
    }
  }

  &__item-title,
  &__item-color,
  &__item-size {
    font-size: 16px;
    color: #f6f6f6;
  }

  &__item-color,
  &__item-size {
    font-weight: 500;
  }

  &__item-color {
    margin: 20px 0;
  }

  &__item-sizes {
    display: flex;
    align-items: center;
  }

  &__item-discount {
    font-size: 12px;
    color: #fff;
    padding: 4px 6px;
    background: #ff7a5b;
    border-radius: 4px;
    margin-left: 32px;
  }

  &__quantity {
  }

  &__qty {
    display: flex;
    align-items: center;
  }

  //   &__qty:nth-child(2) {
  //     margin: 110px 0;
  //   }

  &__qty-price {
    display: flex;
    margin-right: 56px;
    height: 18px;
  }

  &__qty-price--new {
    margin-right: 18px;
    color: $gold;
    font-weight: 500;
  }

  &__qty-price--old {
    color: $gray2;
    font-weight: 400;
    text-decoration: line-through;
  }

  &__counter {
    display: flex;
    align-items: center;
    margin-right: 54px;
  }

  &__counter-current {
    color: #f6f6f6;
    font-weight: 500;
    margin: 0 16px;
  }

  &__counter-control {
    cursor: pointer;
  }
}
