.popular-options{
  padding: 30px 0;
  &__title{
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    margin-bottom: 35px;
    color: #fff;
  }
  &__inner{
    padding: 0 32px;
  }
  &__items-title{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 100%;
    &:not(:last-child){
      margin-right: 20px;
    }
  }
  &__link{
    display: block;
    text-align: center;
    padding: 8px 18px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    z-index: 1;
    position: relative;
    transition: .2s;
    &:hover{
      border-color: transparent;
      &::before{
        opacity: 1;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../img/popular-hover.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      opacity: 0;
      border-radius: 4px;
      transition: .2s;
    }
  }
}

@media screen and (max-width: 1024px){
  .popular-options{
    &__link{
      padding: 8px;
    }
  }
}

@media screen and (max-width: 852px){
  .popular-options{
    &__items{
      flex-wrap: wrap;
    }
    &__item{
      &:not(:last-child){
        margin-right: 0;
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .popular-options{
    &__title{
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
    &__inner{
      padding: 0 16px;
    }
    &__items-title{
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 16px;
    }
  }
}