.products{
  padding: 30px 0;
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__title{
    font-size: 24px;
    line-height: 33px;
    color: #fff;
  }
  &__all{
    display: flex;
    align-items: center;
    span{
      color: $gold;
      margin-right: 10px;
    }
  }
}

.swiper-products{
  padding-left: 9px;
  .swiper-button-prev,
  .swiper-button-next{
    top: 160px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    &::after{
      display: none;
    }
    &:hover{
      opacity: 0.6;
    }
  }
  .swiper-button-prev{
    left: 3px;
  }
  .swiper-button-next{
    right: 1px;
  }
  .swiper-slide{
    max-width: 254px;
    width: 100%;
    height: 412px;
    box-sizing: border-box;
  }
  &.hits{
    .swiper-products__inner{
      padding-bottom: 3px;
    }
  }
  &__credit{
    font-size: 12px;
    line-height: 14px;
    color: $black4;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 50%;
      border: 1px dashed #FF7A5B;
      bottom: 0;
      left: 0;
    }
  }
  &__inner{
    max-width: 254px;
    width: 100%;
    height: 380px;
    background-color: $white4;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border-radius: 8px;
    padding: 18px 7px 19px 12px;
    display: flex;
    flex-direction: column;
    transition: .2s;
    &:hover{
      height: 412px;
    }
  }
  &__top{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 28px;
  }
  &__favorites{
    display: inline-block;
    cursor: pointer;
  }
  &__favorites-input{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked + .swiper-products__favorites-checkbox{
      background-image: url('../../img/icons/icons.svg#favorites-checked');
    }
  }
  &__favorites-checkbox{
    display: block;
    margin-left: auto;
    width: 16px;
    height: 16px;
    background-image: url('../../img/icons/icons.svg#favorites-default');
  }
  &__imgbox{
    width: 179px;
    height: 200px;
    margin: 0 auto;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__content{
    margin-top: auto;
    transition: .2s;
  }
  &__tags{
    display: flex;
    margin-bottom: 5px;
  }
  &__tags-item{
    padding: 4px 6px;
    border-radius: 8px;
    &:not(:last-child){
      margin-right: 10px;
    }
  }
  &__name{
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    color: $black4;
    margin-bottom: 16px;
  }
  &__price{
    display: flex;
  }
  &__price-new{
    display: flex;
    align-items: center;
    color: $black4;
    margin-right: 6px;
    img{
      margin-left: 1px;
    }
  }
  &__price-old{
    display: flex;
    align-items: center;
    color: $gray3;
    text-decoration-line: line-through;
    img{
      margin-left: 1px;
    }
  }
}

@media screen and (max-width: 1200px){
  .swiper-products{
    .swiper-button-prev,
    .swiper-button-next{
      display: none;
    }
  }
}
