.sale{
  padding: 60px 53px 30px;
  position: relative;
  &::before,
  &::after{
    content: '';
    position: absolute;
    width: 467px;
    height: 3px;
    top: 10px;
  }
  &::before{
    background-image: url('../img/sale/sale-line-top-before.jpg');
    left: 16px;
  }
  &::after{
    background-image: url('../img/sale/sale-line-top-after.jpg');
    right: 16px;
  }
  &__categories{
    margin-bottom: 60px;
  }
  &__categories-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__categories-item{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 15px;
    &:not(:last-child){
      margin-right: 20px;
    }
  }
  &__categories-link{
    display: block;
    width: 100%;
    height: 100%;
    color: #4F4F4F;
    font-size: 24px;
    line-height: 28px;
    background-color: $white4;
    padding: 14px 0;
    text-align: center;
    border-radius: 15px;
    z-index: 1;
    position: relative;
    &:hover{
      &::before{
        opacity: 1;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../img/sale/sale-hover-link.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      z-index: -1;
      opacity: 0;
      transition: .2s;
    }
  }
  &__content{
    width: 100%;
    height: auto;
    padding: 0 47px;
    z-index: 1;
    position: relative;
    &::before,
    &::after{
      content: '';
      position: absolute;
      width: 300px;
      height: 60px;
      z-index: -1;
    }
    &::before{
      background-image: url('../img/sale/sale-line-content-before.png');
      top: -10px;
      right: -53px;
    }
    &::after{
      background-image: url('../img/sale/sale-line-content-after.png');
      bottom: -10px;
      left: -53px;
      height: 64px;
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 24px;
      object-fit: cover;
    }
  }
  &__nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 47px;
  }
  &__nav-list{
    display: flex;
    justify-content: space-between;
    padding: 23px 94px;
    background: linear-gradient(179.45deg, rgba(221, 187, 100, 0.4) -36.91%, rgba(221, 187, 100, 0.1) 71.34%);
    backdrop-filter: blur(7.5px);
    border-radius: 24px;
  }
  &__nav-link{
    display: flex;
    align-items: center;
    span{
      font-size: 24px;
      line-height: 29px;
      color: $white4;
      margin-right: 12px;
    }
    img{
      width: 42px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 1600px){
  .sale{
    &::before,
    &::after{
      width: 34%;
    }
    &__categories-link{
      font-size: 16px;
      line-height: 24px;
    }
  }
}

@media screen and (max-width: 1200px){
  .sale{
    &::before,
    &::after{
      display: none;
    }
  }
}

@media screen and (max-width: 1024px){
  .sale{
    &__categories{
      margin-bottom: 30px;
    }
    &__categories-list{
      flex-wrap: wrap;
    }
    &__categories-item{
      width: 48%;
      margin-bottom: 20px;
      &:not(:last-child){
        margin-right: 0;
      }
    }
    &__content{
      padding: 0;
      &::before,
      &::after{
        display: none;
      }
    }
    &__nav{
      padding: 0;
    }
    &__nav-list{
      padding: 22px 40px;
    }
    &__nav-link{
      span{
        font-size: 20px;
        line-height: 28px;
      }
      img{
        width: 32px;
        height: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px){
  .sale{
    padding: 60px 16px 30px;
    &__nav-list{
      padding: 16px 20px;
      border-radius: 12px;
    }
    &__nav-link{
      span{
        font-size: 16px;
        line-height: 22px;
      }
      img{
        width: 26px;
        height: 22px;
      }
    }
  }
}

@media screen and (max-width: 480px){
  .sale{
    &__categories{
      margin-bottom: 22px;
    }
    &__categories-item{
      width: 100%;
      margin-bottom: 12px;
    }
    &__nav-list{
      padding: 10px 8px;
      border-radius: 12px;
    }
    &__nav-link{
      img{
        display: none;
      }
    }
  }
}