@import "components/vars";
@import "components/mixins";
@import "components/classes";
@import "components/normalize";

// reset
@import "components/reset";
@import "components/default";

// vendors
@import "vendor/swiper-bundle";
@import "vendor/aos";

// blocks
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/payment';
@import 'blocks/order';
@import 'blocks/banner';
@import 'blocks/nav';
@import 'blocks/sale';
@import 'blocks/products';
@import 'blocks/socials';
@import 'blocks/news';
@import 'blocks/about';
@import 'blocks/footer-about';
@import 'blocks/catalog';
@import 'blocks/popular-options';
@import "blocks/steps";
@import "blocks/congratulation";
@import "blocks/data";
@import "blocks/recently";
@import "blocks/name";
@import "blocks/product-card";
