@import "components/vars";
@import "components/mixins";
@import "components/classes";
@import "components/normalize";

// reset
@import "components/reset";
@import "components/default";

// vendors
@import "vendor/swiper-bundle";
@import "vendor/aos";

// blocks
@import "blocks/header";
@import "blocks/footer";
@import "blocks/steps";
@import "blocks/congratulation";
@import "blocks/data";
@import "blocks/modal";
